/* COMPONENTS: Image Map */



/* STRUCTURE */

/* Size the item counters and actions */
.c-image-map--has-toggle-counters .c-image-map__item-toggle::before {
    --size: var(--toggle-shape-size);
}
.c-image-map--has-item-counters .c-image-map__item-close {
    --size: var(--button-shape-size);
}
.c-image-map--has-item-counters .c-image-map__item::before {
    --size: calc( var(--toggle-shape-size) / 1.9 );
}
.c-image-map--has-item-counters .c-image-map__item-close,
.c-image-map--has-item-counters .c-image-map__item::before {
    width: var(--size);
    height: var(--size);
}
/* Position the close button */
.c-image-map__item-close {
    margin: 1em auto 0 auto;
}

/* Position the item counters */
/* FAQ: Vertically center, and horizontally align atop caption's left border */
.c-image-map--has-item-counters .c-image-map__item::before {
    display: block;
    position: absolute;
    z-index: 1;
    left: var(--caption-offset);
    top: 50%;
    margin-left: calc( -1 * var(--size) / 2 );
}

/* Poition focused items atop others */
.c-image-map__item:focus,
.c-image-map__item:focus-within {
    z-index: 1;
}



/* STRUCTURE: Cursors */

/* If image is a link (to untoggle the active item), then
   do not make it look like one (because the action is implied) */
/* WARNING: If clicking does something, then remove this style */
.c-image-map__image:hover {
    cursor: default;
}



/* SKIN */

/* Customize properties */
.c-image-map {
    --border--thin: 2px;
    --border--normal: 3px;
    --border--thick: 4px;
    --accent-color--primary: rgba(0, 0, 0);
    --accent-color--secondary: rgba(0, 0, 0, 0.5);
}



/* SKIN: Toggle, Counters, Actions */

.c-image-map__item-toggle,
.c-image-map--has-item-counters .c-image-map__item::before,
.c-image-map__item-close {
    /* Align any text vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Transform into a circle */
    border-radius: 50%;
}
.c-image-map__item-toggle,
.c-image-map--has-item-counters .c-image-map__item::before {
    border-style: solid;
    border-color: var(--accent-color--primary);
    background-color: white;

    color: var(--accent-color--primary);
}
.c-image-map--has-item-counters .c-image-map__item::before {
    border-width: var(--border--normal);
}
.c-image-map__item-toggle {
    border-width: var(--border--thick);
}
.c-image-map__item-toggle:hover {
    color: var(--accent-color--primary);
    text-decoration: none;
}
.c-image-map--has-toggle-counters .c-image-map__item-toggle::before,
.c-image-map--has-item-counters .c-image-map__item::before,
.c-image-map__item-close::before {
    font-family: kepler-std-subhead, serif;
}
.c-image-map--has-toggle-counters .c-image-map__item-toggle::before,
.c-image-map--has-item-counters .c-image-map__item::before {
    font-size: calc( var(--size) * 0.65);
}
.c-image-map__item-close::before {
    content: "⌃";
    /* Nudge character into desired vertical position */
    /* WARNING: This value assumes the text is already vertically centered */
    transform: translateY(15%);

    font-size: calc( var(--size) * 1.2 );
}
.c-image-map__item-close {
    background-color: var(--accent-color--secondary);

    color: white;
}
.c-image-map__item-close:hover {
    color: white;
    text-decoration: none;
}



/* SKIN: Toggle Transparency */

/* Define when toggle should NOT have transparency */
.c-image-map__item-toggle {
    opacity: 0.5;
}
/* FAQ: Toggle of item on hover */
.c-image-map__item-toggle:hover,
/* FAQ: Toggle of targetted item */
.c-image-map__item:target .c-image-map__item-toggle,
/* FAQ: Hover on targetted item */
.c-image-map__item:hover .c-image-map__item-toggle,
/* FAQ: Toggle of item with focus on toggle or content */
.c-image-map__item:focus-within .c-image-map__item-toggle,
/* FAQ: Some items do not match a location on the image */
.c-image-map__item--unmapped .c-image-map__item-toggle {
    opacity: 1;
}



/* SKIN: Toggle & Counter Animation */

/* Animate toggle and item counter hover state */
.c-image-map__item-toggle,
.c-image-map--has-item-counters .c-image-map__item::before {
    transform: scale(1);

    transition-duration: 0.25s;
    transition-property: all;
}
/* Scale toggle and item counter on hover, provided its item is not already "active" */
.c-image-map__item:hover .c-image-map__item-toggle,
.c-image-map--has-item-counters .c-image-map__item:hover::before {
    transform: scale(1.25);
}



/* SKIN: Caption */

.c-image-map__item-caption {
    --space--desc-top: 1em;
    --space--title-bottom: 0.5em;

    background-color: white;
    border: var(--border--normal) solid var(--accent-color--primary);
}
.c-image-map__item-title {
    display: block;
    padding-bottom: var(--space--title-bottom);

    /* TODO: Use font variable(s) */
    /* TODO: Use `rem` when site sets base font */
    /* font: bold normal 2em benton-sans, serif; */
    font-weight: bold;
}
.c-image-map__item-desc {
    margin: var(--space--desc-top) 0 0; /* overwrite Bootstrap or browser */
}



/* SKIN: Placeholder Text */
/* NOTE: All of these styles query details/summary tags */

/* Decoration only for titles that are NOT collapsing content */
/* WARNING: This `:not(summary)` selector must remain (but may be simplified) if we do not use details/summary tags */
.c-image-map__item-title:not(summary),
details[open] > summary.c-image-map__item-title {
    border-bottom: var(--border--thin) solid var(--accent-color--secondary);
}
/* Titles that collapse content get placeholder content and fake border */
details:not([open]) > summary.c-image-map__item-title::after {
    /* Placeholder content */
    display: block;
    content: attr(data-placeholder-text);
    font-weight: normal;

    /* Fake border */
    margin-top: var(--space--title-bottom);
    padding-top: var(--space--desc-top);
    border-top: var(--border--thin) solid var(--accent-color--secondary);
}
