/* Replicate CMS Page Layout */
/* SEE: https://texascale.org/2019/visualizing-science/whats-in-a-node/ */
/* SEE: https://texascale.org/2020/visualizing-science/frontera-secret-sauce/ */

body {
    display: flex;
    flex-direction: row;
}
@media only screen and (min-width: 992px) {
    body::before {
        content: '';
        display: block;
    }
}

body::before,
.c-image-map {
    box-sizing: content-box;
}
body::before {
    padding: 0 15px;
}
@media only screen and (min-width: 992px) {
    body::before {
        width: 50%;
    }

    /* Use margin because article doesn't have wrapper like it will when in use */
    .c-image-map {
        margin: 0 15px;
    }
}

/* From project's `site.css` */
body, h1, h3 {
    font-family: benton-sans,sans-serif;
    font-style: normal;
}
